body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 15px;
    color: black;

    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 5px 0 5px;
    height: 100%;
}

h1 {
    margin: 0;
}

iframe {
    width: 80%;
    border: 1px solid black;
}
