@import "/css/common.css";

#header {
    font-size: 20px;

    /*borders*/
    border-bottom: 1px black;
    box-shadow: 1px 1px 2px;

    opacity: 1.0;
}

.header-section-left {
    display: inline-block;
    float: left;
    margin: 20px 3px 20px 3px;
}

.header-section-right {
    display: inline-block;
    float: right;
    margin: 20px 5px 20px 5px;
}

#header-title {
    cursor: pointer;
    margin: 20px 3px 20px 40px;
}

#who-am-i {
    cursor: pointer;
    margin-left: 10px;
}

#who-am-i-description {
    position: fixed;
    top: 45px;
    left: 5px;

    display: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
}

#who-am-i-description p {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

#header form {
    margin-right: 30px;
}

#header form input {
    border: 1px solid black;
    border-radius: 1px;
    background-color: transparent;
    width: 300px;
    height: 30px;
}

#header form button {
    top: 0;
    right: 0;
    background-color: transparent;
    border-radius: 1px;
}
