.article-title-font {
    font-size: 40px;
}

.article-content-font {
    font-size: 20px;
}

.annotation-font {
    font-size: 18px;
}

.aside-title-font {
    text-align: center;
}

.aside-item-font {
    font-size: 16px;
}
